/**
 * @package     Reset.css
 * @subpackage	WordPressBasicCSS
 * @version     0.2, 2014-03-16
 * @author      Florian Martin-Bariteau
 * @licence     MIT
 */

/*------------------------------------------/
	Browser
/------------------------------------------*/

html,
body,
div,
dl,
dt,
dd,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
audio,
canvas,
progress,
video,
img {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
}

:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

textarea {
	overflow: auto;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

optgroup {
	font-weight: bold;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/*------------------------------------------/
	Wordpress Basic CSS
/------------------------------------------*/

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
